.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-body {
  width: 80%;
}

.answer-container {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.correct {
  font-weight: 700;
  color: green;
}

.in_correct {
  font-weight: 700;
  color: red;
}

.next-btn {
  width: 100px;
  margin-left: auto;
}
